{:paths ["src" "test" "build/generated"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        reagent/reagent {:mvn/version "1.3.0"}}
 :aliases {:shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.28.23"}}
                    :main-opts ["-m" "shadow.cljs.devtools.cli"]}
           :test {:main-opts ["-m" "rime-config.test-runner"]}}}
